body {
background: url("../images/background3.jpg")
}

h1 {
	
	background: deepskyblue;
    font-size: 43px;
    font-family: sans-serif;
    margin-right: 729px;
    margin-left: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    text-align: center;
}

#message {
	width: 530px;
    font-size: 25px;
    color: white;
    margin-right: 0px;
    font-family: Arial, sans-serif;
    background: orchid;
    margin-left: 20px;
    border-radius:15px;
    text-align: center;
}

#randomNumber {
	font-size: 90px;
    background: dodgerblue;
    margin-left: 20px;
    margin-top: 15px;
    width: 215px;
    float:left;
    border-radius:15px;
}

#winsLosses {
	font-size: 45px;
    background: lavender;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    border-radius:15px;

}

#crystals {
	clear: both;
}

.images {
	height: 150px;
    float: left;
    margin-right: 25px;
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    border-radius: 15px;
}

#scoreText {
	clear: both;
    font-size: 35px;
    background: fuchsia;
    width: 334px;
    margin-top: 200px;
    margin-left: 20px;
    border-radius: 15px;
}

#random {
	color: floralwhite;
}